.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: solid black 2px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#image {
    max-width: 40vh
}
