.App {
  margin: 0;
  min-height: 92.9vh; /* Not the best CSS solution */
  background: #ccc;
  display: flex;
  flex-direction: column;
}

.footer {
  height: 50px;
  background: #bbb;
  color: #fff;
}
